body {
    background-size: auto 100%;
    /*text-align: center;*/
    background: url("../img/pexels-photo-63952.jpeg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#colorpad {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #888888;
    box-shadow: 5px 5px 5px #888888;
    margin: auto;
    text-align: center;

}

.block {
    box-sizing: border-box;
    /*border: 1px solid #666f82;*/

    box-shadow: 5px 5px 5px #666f82;

    opacity: 0.7;
}

#gameName{
    font-family: 'Anton', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 100px;
    text-align: center;
    margin-top: 3%;
    color: #3d4d6e;
    opacity: 0.7;
}

